# Binary Settings
BIN_COMPOSER="composer"
BIN_PHP="php"

# Web Settings
#PROJECT_NAME=
USE_SECURE=1
LANGUAGE='en_US'
CURRENCY='USD'
TIMEZONE='America/Chicago'

# Storage Settings
# files|redis
SESSION_SAVE='redis'
CACHING_TYPE=redis

# Admin Settings
BACKEND_FRONTNAME="backend"
ADMIN_FIRSTNAME='John'
ADMIN_LASTNAME='Doe'
ADMIN_EMAIL='admin@example.com'
ADMIN_USER='admin'
ADMIN_PASSWORD=$(genRandomPassword)

# DB Settings
DB_HOST=localhost
DB_NAME="${PROJECT_NAME}"
DB_USER=root
DB_PASS=root

# Opensearch (for >= M2.4.8)
SEARCH_ENGINE='opensearch'
OPENSEARCH_HOST='127.0.0.1'
OPENSEARCH_PORT=9200
OPENSEARCH_INDEX_PREFIX='magento2'

# Elasticsearch (for < M2.4.8)
#SEARCH_ENGINE='elasticsearch7'
#ELASTICSEARCH_HOST='127.0.0.1'
#ELASTICSEARCH_PORT=9200
#ELASTICSEARCH_INDEX_PREFIX="${PROJECT_NAME}_"

# Redis
REDIS_HOST='127.0.0.1'
REDIS_PORT=6379
#REDIS_PREFIX="${PROJECT_NAME}_"
REDIS_SESSION_HOST="$REDIS_HOST"
REDIS_SESSION_PORT="$REDIS_PORT"
REDIS_DEFAULT_HOST="$REDIS_HOST"
REDIS_DEFAULT_PORT="$REDIS_PORT"
REDIS_FULLPAGE_HOST="$REDIS_HOST"
REDIS_FULLPAGE_PORT="$REDIS_PORT"
